body{
	background-color:#ffffff;
	color:#000000;
	font:11px verdana,sans-serif;
	overflow:auto;
	margin:0}
.tabela{ /* tabela z planem */
	border-color:#c0c0c0}
td{
	font-size:11px}
th{
	background-color:#e1e6f5;
	color:#2e448f;
	font-size:13px}
td.g{ /* godzina */
	background-color:#f0f2fa;
	color:#2e448f;
	font-weight:bold;
	vertical-align:top;
	text-align:center;
	white-space:nowrap}
td.nr{ /* numer lekcji */
	background-color:#e1e6f5;
	color:#2e448f;
	font-weight:bold;
	text-align:center;
	vertical-align:top}
td.l{ /* lekcja */
	background-color:#ffffff;
	color:#000000;
	vertical-align:top}
a.n{ /* nauczyciel */
	color:#2e448f}
a.s{ /* sala */
	color:#2e448f}
a.k{ /* klasa */
	color:#2e448f}
.p{ /* przedmiot */
	color:#000000;
	font-weight:bold}
.op{ /* napis */
	font:10px verdana,sans-serif}
@media print{
.tabtytul{ /* nag³ówek do druku */
	display:none}
}
